
$primary: #002B5B;
$secondary: #256D85;
$success: #8FE3CF;
$danger: #F5236F;

$text-color: #444444;
$text-muted: #514F4F;


$border: 1px solid #dadada;

$shadow:  -1px 1.2px 2px #0000004f;


$--color-primary: $primary;