@import "fonts.scss";
@import "colors.scss";


*{
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Oswald" !important;
    font-weight: 300 !important;
    padding: 0;
    margin: 0; 
}

a{
    color: $secondary;
}

img{
    width: 100%;
}
input, select, textarea{
    box-sizing: border-box;
    padding: .1rem .3rem;
    font-size: .9rem;
    font-family: 'Oswald';
    font-weight: 300;
    outline: none;
    border: 1px solid #afafaf;
    padding: .5rem;
    width: 100%;
}
input:focus, select:focus, textarea:focus{
    border-color: #256D85;
    box-shadow: 0 0 2px 2px #e9e9e9;
}


button{
    border: none;
    background-color: transparent;
    font-family: "Oswald";
    font-weight: 300;
    font-size: 1rem;
    padding: .5rem;

}

.btn-primary{
    background-color: #256D85;
    color: #8FE3CF;
    box-shadow: -1px 1.2px 2px #0000006e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}






.fit-cover{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hexagon{
    clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.hexagon-shadow{
    filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.2));
}

.hexagon-shadow div{
    clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}


.form-item{
    width: 100%;
    margin: 1rem auto;
    .label{
        color: $text-muted;
        font-weight: .7rem;
        margin-bottom: .5rem;
        margin-left: .5rem;
        font-weight: 200;
    }
    .el-autocomplete{
        width: 100%;
        .el-input{
         width: 100%;
            input{
                width: 100%;
            }     
        }
    }
          
}

